body
{
	background: url("backgroundHxH.jpg") fixed;
}
img 
{
	max-width: 100%;
	max-height: auto;
}
#wrapper
{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 2fr;
	max-width: 100%;
	max-height: auto;
}
#wrapper > div
{
	background-color: green;
	border: solid 3px blue;
}
#titre 
{
	grid-column: 1/ span 3;
	grid-row: 1;
	margin-left: auto;
	margin-right: auto;
}
.child
{
	grid-column: 1/ span 2;
	grid-row: 1/ span 2;
	font-family: "Arial Black";
	font-size: 15px;
}
.float
{
	float: left;
}
.type
{
	grid-column: 3;
}
